@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr style="background-color:lightgray;">
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produto in ViewBag.Produtos)
                {
                    <tr style="border-bottom-color:aqua;">
                        <td>@produto.Id</td>
                        <td style="width:200px; text-align:center;">@produto.Nome</td>
                        <td style="text-align:center;">@produto.Quantidade</td>
                    </tr>
                }
            </tbody>
        </table>
        <button style="margin-top:10px;"> @Html.ActionLink("Cadastrar Produto", "Form", "Produto", null, new { style = "text-decoration:none;" }) </button>
        <br />
        <button style="margin-top: 10px;"> @Html.ActionLink("Página Inicial", "Index", "Home", null, new { style = "text-decoration:none;" }) </button>

    </div>

    </form>

</body>
</html>
